.heading-11 {
  margin: 0;
  width: 985px;
  height: 29px;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  max-width: 100%;
}
.frame-parent,
.globalesimpage,
.heading-1-articles-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent {
  width: 980px;
  align-items: flex-start;
  padding: 0;
  box-sizing: border-box;
  gap: 30px;
  max-width: 100%;
}
.globalesimpage,
.heading-1-articles-parent {
  background-color: #fff;
  align-items: center;
}
.heading-1-articles-parent {
  align-self: stretch;
  padding: 48px 20px;
  box-sizing: border-box;
  gap: 32px;
  max-width: 100%;
  text-align: center;
  font-size: 32px;
  color: #080808;
  font-family: "tt hoves";
}
.globalesimpage {
  width: 100%;
  position: relative;
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1225px) {
  .heading-1-articles-parent {
    padding-top: 31px;
    padding-bottom: 31px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .heading-11 {
    font-size: 26px;
    line-height: 31px;
  }
  .heading-1-articles-parent {
    gap: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading-11 {
    font-size: 19px;
    line-height: 23px;
  }
}
