.its-time-to {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 400;
  font-family: inherit;
  text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);
}
.search-title {
  width: 652px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 5px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.image-icon {
  height: 16px;
  width: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.image-icon,
.search-for-countries {
  position: relative;
}
.container,
.form-input {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.container {
  height: 18px;
  flex: 1;
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0.5;
  min-width: 137px;
}
.form-input {
  width: 651px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  background-color: #fff;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  padding: 12px 13px 13.5px;
  box-sizing: border-box;
  gap: 11px;
  text-align: left;
  font-size: 15px;
  color: gray;
  font-family: Roboto;
}
.heading-1,
.search {
  display: flex;
  align-items: center;
}
.search {
  align-self: stretch;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 124px 20px 124.5px;
  box-sizing: border-box;
  gap: 20px;
  background-image: url(/public/search@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  text-align: center;
  font-size: 32px;
  color: #fff;
  font-family: "tt hoves";
}
.heading-1 {
  margin: 0;
  width: 108px;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 400;
  font-family: inherit;
  justify-content: center;
}
.background,
.europe-title,
.more-plans {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.europe-title {
  width: 1148px;
  justify-content: center;
  padding: 0 21px 0 20px;
}
.background,
.more-plans {
  justify-content: flex-start;
  padding: 0 26px 0 25px;
}
.background {
  align-self: stretch;
  background-color: #f2f6f8;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  gap: 36px;
  text-align: center;
  font-size: 32px;
  color: #080808;
  font-family: "tt hoves";
}
.heading-3 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 400;
  font-family: inherit;
}
.heading-31 {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.help-subtitle,
.support {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.support {
  align-self: stretch;
  flex-direction: row;
  padding: 0 13px;
  font-size: 18px;
}
.help-subtitle {
  width: 183px;
  flex-direction: column;
  gap: 14px;
}
.help-header,
.help-links,
.help-title {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.help-title {
  justify-content: center;
  padding: 0 21px 0 20px;
}
.help-header,
.help-links {
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.help-header {
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px;
}
.link-help-clogsvg {
  position: absolute;
  top: calc(50% - 29px);
  left: calc(50% - 28px);
  width: 56px;
  height: 58px;
  overflow: hidden;
  object-fit: contain;
}
.backgroundshadow {
  height: 100px;
  width: 95.6px;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: #00a11a;
}
.link-troubleshooting {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.install-guide {
  width: 258.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 23.9px;
}
.link-help-arrowsvg {
  height: 67px;
  width: 67px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.backgroundshadow1 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: #00a11a;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16.5px 14px;
}
.link-installation {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.master-your-esim {
  width: 123.3px;
  height: 15px;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.learn-guides {
  flex: 1;
  flex-direction: column;
  gap: 21px;
}
.install-guides,
.learn-guides,
.management-guide {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.management-guide {
  align-self: stretch;
  flex-direction: row;
  gap: 23.9px;
}
.install-guides {
  width: 274.5px;
  flex-direction: column;
  gap: 46px;
  min-width: 274.5px;
}
.link-help-switchsvg {
  height: 47px;
  width: 69px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.backgroundshadow2 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: #00a11a;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 26.5px 13px;
}
.link-manage {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.link-be {
  height: 15px;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 124.4px;
}
.brainwash,
.testimonial {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.testimonial {
  flex: 1;
  flex-direction: column;
  gap: 20px;
}
.brainwash {
  width: 278.6px;
  flex-direction: row;
  gap: 24px;
}
.link-help-brainsvg {
  height: 73px;
  width: 73px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.backgroundshadow3 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: #00a11a;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 13.5px 11px;
  box-sizing: border-box;
  min-width: 95.6px;
}
.link-learn,
.link-mobile {
  position: relative;
  display: flex;
  align-items: center;
}
.link-mobile {
  width: 151px;
  line-height: 22px;
}
.link-learn {
  align-self: stretch;
  height: 15px;
  font-size: 16px;
  line-height: 135%;
  flex-shrink: 0;
}
.footer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  min-width: 155px;
}
.rating {
  flex: 1;
  flex-direction: row;
  gap: 24px;
}
.author,
.rating,
.revolution {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.author {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 1px;
  box-sizing: border-box;
}
.revolution {
  width: 360px;
  flex-direction: column;
  gap: 46px;
  min-width: 360px;
}
.install-guides-parent {
  width: 803.5px;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  text-align: left;
  font-size: 18px;
}
.help-center,
.help-center-wrapper,
.install-guides-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.help-center {
  width: 816.9px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 46px;
}
.help-center-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px 64px 21px;
  box-sizing: border-box;
  text-align: center;
  font-size: 32px;
  color: #080808;
  font-family: "tt hoves";
}
.ausvg-icon {
  height: 44px;
  width: 44px;
  position: relative;
  border-radius: 999px;
  overflow: hidden;
  flex-shrink: 0;
}
.brand-logo {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
}
.brand-logo,
.div,
.legal {
  display: flex;
  justify-content: center;
}
.div {
  width: 79.9px;
  position: relative;
  line-height: 25.5px;
  align-items: center;
  flex-shrink: 0;
  min-width: 79.9px;
}
.legal {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 1px 0 0;
  font-family: "Open Sans";
}
.i-recently-switched,
.traveling-internationally-has {
  margin: 0;
}
.cite-alex,
.i-recently-switched-container {
  position: relative;
  display: flex;
  align-items: center;
}
.i-recently-switched-container {
  align-self: stretch;
  height: 330px;
  font-size: 16px;
  line-height: 135%;
  color: #2e254d;
}
.cite-alex {
  width: 130px;
  line-height: 22px;
  justify-content: center;
}
.group-2-4,
.terms {
  display: flex;
  align-items: flex-start;
}
.terms {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  font-size: 18px;
  color: #080808;
}
.group-2-4 {
  position: absolute;
  top: 190px;
  left: 463px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  background-color: #fff;
  width: 347px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 28px 27px 28.5px;
  box-sizing: border-box;
  gap: 24px;
}
.ausvg-icon1 {
  height: 44px;
  width: 44px;
  position: relative;
  border-radius: 999px;
  overflow: hidden;
  flex-shrink: 0;
}
.ausvg-wrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
}
.ausvg-wrapper,
.div1,
.wrapper {
  display: flex;
  justify-content: center;
}
.div1 {
  width: 79.9px;
  position: relative;
  line-height: 25.5px;
  align-items: center;
  flex-shrink: 0;
  min-width: 79.9px;
}
.wrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 1px 0 0;
  font-family: "Open Sans";
}
.overall-esim-brand,
.what-stands-out {
  margin: 0;
}
.what-stands-out-container {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  color: #2e254d;
}
.cite-alex1 {
  width: 130px;
  position: relative;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cite-alex-thompson-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: 18px;
  color: #080808;
}
.group-2-7 {
  position: absolute;
  top: 190px;
  left: 1109px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  background-color: #fff;
  width: 347px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 28px 27px 160.5px;
  box-sizing: border-box;
  gap: 24px;
}
.ausvg-icon2 {
  height: 44px;
  width: 44px;
  position: relative;
  border-radius: 999px;
  overflow: hidden;
  flex-shrink: 0;
}
.articles {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
}
.articles,
.div2,
.summer-travel {
  display: flex;
  justify-content: center;
}
.div2 {
  width: 79.9px;
  position: relative;
  line-height: 25.5px;
  align-items: center;
  flex-shrink: 0;
  min-width: 79.9px;
}
.summer-travel {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 1px 0 0;
  font-family: "Open Sans";
}
.i-recently-switched1,
.traveling-internationally-has1 {
  margin: 0;
}
.i-recently-switched-container1 {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  color: #2e254d;
}
.cite-alex2 {
  width: 130px;
  position: relative;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-2-6,
.terms-of-use {
  display: flex;
  align-items: flex-start;
}
.terms-of-use {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  font-size: 18px;
  color: #080808;
}
.group-2-6 {
  position: absolute;
  top: 153px;
  left: 763px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  background-color: #fff;
  width: 393px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 28px 27px 168.5px;
  box-sizing: border-box;
  gap: 24px;
  z-index: 1;
}
.article-links,
.productpage {
  position: relative;
  overflow: hidden;
}
.article-links {
  align-self: stretch;
  height: 930px;
  background-color: #f2f6f8;
  flex-shrink: 0;
  text-align: center;
  font-size: 13.2px;
  color: #fed12f;
  font-family: "tt hoves";
}
.productpage {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .background {
    padding-top: 52px;
    padding-bottom: 52px;
    box-sizing: border-box;
  }
  .help-links {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 750px) {
  .heading-1,
  .its-time-to {
    font-size: 26px;
    line-height: 31px;
  }
  .background {
    gap: 18px;
    padding-top: 34px;
    padding-bottom: 34px;
    box-sizing: border-box;
  }
  .heading-3 {
    font-size: 26px;
    line-height: 31px;
  }
  .install-guides,
  .revolution {
    flex: 1;
  }
  .install-guides-parent {
    flex-wrap: wrap;
  }
  .help-center-wrapper {
    padding-bottom: 42px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading-1,
  .heading-3,
  .its-time-to {
    font-size: 19px;
    line-height: 23px;
  }
  .help-header {
    gap: 16px;
  }
  .install-guides {
    gap: 23px;
  }
  .backgroundshadow3,
  .link-help-brainsvg {
    flex: 1;
  }
  .rating {
    flex-wrap: wrap;
  }
  .revolution {
    gap: 23px;
    min-width: 100%;
  }
  .help-center {
    gap: 23px;
  }
}
