.copyright-info {
  align-self: stretch;
  height: 930px;
  position: relative;
  background-color: #f2f6f8;
  overflow: hidden;
  flex-shrink: 0;
}
.productlistingpage {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
