.link-icon5 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.a-guide-to,
.connectivity,
.esim-for-improved {
  margin: 0;
}
.a-guide-to-container {
  position: relative;
  line-height: 120%;
}
.connection-with,
.embark-on-an {
  margin: 0;
}
.embark-on-an-container1 {
  width: 100%;
}
.embark-on-an-container {
  width: 176px;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  display: flex;
  align-items: center;
}
.frame-child4 {
  width: 132px;
  height: 46px;
}
.a-guide-to-mobile-data-and-esi-parent,
.article1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.9px;
}
.article1 {
  height: 359px;
  width: 246px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 0 0 14.9px;
  box-sizing: border-box;
  gap: 19.2px;
  text-align: left;
  font-size: 18px;
  color: #080808;
  font-family: "tt hoves";
}
