.link-flag-of-moroccowebp {
  height: 100%;
  width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  transform: scale(1.144);
}
.wrapper-link-flag-of-morocco {
  height: 83.6px;
  width: 83.6px;
  position: absolute;
  margin: 0 !important;
  right: -59.1px;
  bottom: -52.8px;
  border-radius: 41.78px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.deal,
.hot {
  margin: 0;
}
.hot-deal {
  position: relative;
  line-height: 12px;
}
.backgroundborder,
.country-card-elements {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.backgroundborder {
  flex: 1;
  border-radius: 20px;
  background-color: #00a11a;
  border: 2px solid #00a11a;
  padding: 5px 5px 5px 8px;
  z-index: 1;
}
.country-card-elements {
  width: 40px;
  position: relative;
}
.morocco {
  width: 64px;
  position: relative;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 64px;
}
.country-name-items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 14px;
}
.gb {
  align-self: stretch;
  position: relative;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  min-width: 93px;
}
.country-name-items-parent,
.country-names {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.country-name-items-parent {
  flex: 1;
  flex-direction: column;
  gap: 12px;
}
.country-names {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 3px;
  font-size: 16px;
  color: #080808;
  font-family: "tt hoves";
}
.country-card-items,
.country-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.country-card-items {
  align-self: stretch;
  justify-content: flex-start;
  gap: 64.7px;
}
.country-cards {
  width: 99.1px;
  justify-content: flex-end;
  padding: 0 3px 6.4px 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 10px;
  color: #fff;
  font-family: "Open Sans";
}
