.billing-details,
.checkout1 {
  position: relative;
  display: inline-block;
}
.checkout1 {
  margin: 0;
  width: 148px;
  font-size: inherit;
  line-height: 120%;
  font-weight: 400;
  font-family: inherit;
}
.billing-details {
  line-height: 22px;
  min-width: 115px;
}
.header2 {
  align-self: stretch;
  border-radius: 5px;
  background-color: #080808;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 24px;
  font-size: 18px;
  color: #fff;
}
.block-1,
.block-2 {
  border: 0;
  background-color: transparent;
  height: 50px;
  flex: 1;
  font-family: "tt hoves";
  font-size: 16px;
  color: #080808;
  min-width: 314px;
  max-width: 100%;
}
.row-1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 19px;
  max-width: 100%;
}
.block-11 {
  border: 0;
  background-color: transparent;
  height: 50px;
  flex: 1;
  font-family: "tt hoves";
  font-size: 16px;
  color: #080808;
  min-width: 314px;
  max-width: 100%;
}
.country,
.icon {
  position: relative;
}
.country {
  line-height: 22px;
  display: inline-block;
  min-width: 58px;
}
.icon {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.block-21,
.row-2 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.block-21 {
  flex: 1;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #080808;
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  padding: 11px 24px;
  min-width: 314px;
  gap: 20px;
}
.row-2 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 19px;
}
.block-12,
.block-22,
.block-23,
.block-24,
.row-3,
.row-4 {
  border: 0;
  background-color: transparent;
  height: 50px;
  font-family: "tt hoves";
  font-size: 16px;
  color: #080808;
}
.block-22,
.block-23,
.row-3,
.row-4 {
  align-self: stretch;
}
.block-12,
.block-24 {
  flex: 1;
  min-width: 314px;
  max-width: 100%;
}
.form-field-block,
.row-5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 19px;
  max-width: 100%;
}
.form-field-block {
  flex-direction: column;
  gap: 24px;
  font-size: 16px;
}
.form-divider {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #080808;
  box-sizing: border-box;
}
.button15,
.button16 {
  height: 54px;
  width: 127px;
}
.button16 {
  width: 130px;
}
.form-header,
.header-items {
  display: flex;
  align-items: flex-start;
}
.header-items {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.form-header {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 35.8px;
  min-width: 640px;
  max-width: 100%;
  text-align: left;
  font-size: 32px;
  color: #080808;
  font-family: "tt hoves";
}
@media screen and (max-width: 1100px) {
  .row-1,
  .row-2,
  .row-5 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .checkout1 {
    font-size: 26px;
    line-height: 31px;
  }
  .form-header {
    gap: 18px;
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .checkout1 {
    font-size: 19px;
    line-height: 23px;
  }
  .header-items {
    flex-wrap: wrap;
  }
}
