.heading-33 {
  margin: 0;
  width: 183px;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.help-center-title {
  width: 946px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 1px;
  box-sizing: border-box;
  max-width: 100%;
}
.heading-4,
.help-center-subtitle,
.help-center-title {
  display: flex;
  justify-content: center;
}
.heading-4 {
  width: 128px;
  position: relative;
  line-height: 22px;
  align-items: center;
  min-width: 128px;
}
.help-center-subtitle {
  width: 946px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 1px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 16px;
}
.advice-and-answers,
.the-fusionwavesim-team {
  margin: 0;
}
.advice-and-answers-container1 {
  width: 100%;
}
.advice-and-answers-container {
  margin: 0;
  height: 90px;
  width: 486.5px;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
}
.container1,
.help-center-search-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.help-center-search-content {
  width: 737.6px;
  justify-content: center;
  padding: 0 0 0 2px;
}
.container1 {
  width: calc(100% - 59.9px);
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 27px;
  flex: 1;
  overflow: hidden;
  justify-content: flex-start;
  padding: 0 0.4px;
  font-family: "tt hoves";
  font-size: 18px;
  color: #fff;
  opacity: 0.5;
  min-width: 250px;
}
.input-icon {
  height: 40px;
  width: 39.9px;
  position: absolute;
  margin: 0 !important;
  top: 5px;
  right: -1.8px;
  z-index: 1;
}
.background3,
.help-center-title-parent,
.input {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.input {
  width: 736.6px;
  border-bottom: 1px solid #fff;
  flex-direction: row;
  align-items: flex-start;
  padding: 13px 10px;
  position: relative;
}
.background3,
.help-center-title-parent {
  flex-direction: column;
  align-items: center;
}
.background3 {
  width: 945.6px;
  border-radius: 24px;
  background: linear-gradient(90deg, #00b61d, #8abd03 40.96%, #98be00 77.5%);
  padding: 23px 20px 30px;
  gap: 27px;
  color: #fff;
}
.help-center-title-parent {
  align-self: stretch;
  background-color: #fff;
  padding: 64px 20px;
  gap: 22px;
  z-index: 1;
  text-align: center;
  font-size: 32px;
  color: #000;
  font-family: "tt hoves";
}
@media screen and (max-width: 900px) {
  .advice-and-answers-container,
  .heading-33 {
    font-size: 26px;
    line-height: 31px;
  }
}
@media screen and (max-width: 450px) {
  .advice-and-answers-container,
  .heading-33 {
    font-size: 19px;
    line-height: 23px;
  }
  .help-center-title-parent {
    padding-bottom: 42px;
    box-sizing: border-box;
  }
}
