.fusionwavesim-europe-data1 {
  width: 158px;
  position: relative;
  line-height: 120%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.b2 {
  position: relative;
  line-height: 25.5px;
  display: inline-block;
  min-width: 39px;
  white-space: nowrap;
}
.wrapper4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 9.2px;
  text-align: center;
  font-size: 15px;
  color: #98be00;
  font-family: "Open Sans";
}
.fusionwavesim-europe-data-plan-parent {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: 10px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 16px;
  box-sizing: border-box;
  gap: 20px;
  text-align: left;
  font-size: 18px;
}
.best-sellers-barjpg5 {
  height: 26px;
  width: 356px;
  position: absolute;
  margin: 0 !important;
  top: 67px;
  left: 0;
  background: linear-gradient(90deg, #00b61d, #8abd03 40.96%, #98be00 77.5%);
  overflow: hidden;
  flex-shrink: 0;
}
.gb11 {
  height: 25.5px;
  position: relative;
  line-height: 135%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 31px;
}
.gb-wrapper1 {
  height: 24.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 17px 0 19px;
  box-sizing: border-box;
}
.data-plan5 {
  width: 66.1px;
  position: relative;
  font-size: 12px;
  line-height: 20.4px;
  font-weight: 600;
  font-family: "Open Sans";
  color: #9e9faa;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 66.1px;
}
.paragraphverticalborder10 {
  border-right: 1px solid #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 21px 0.7px 20px;
}
.days5 {
  height: 25.5px;
  flex: 1;
  position: relative;
  line-height: 135%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 47.8px;
}
.europe-plan-duration-amount {
  width: 64px;
  height: 24.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 9px 0 7px;
  box-sizing: border-box;
}
.duration5 {
  position: relative;
  font-size: 12px;
  line-height: 20.4px;
  font-weight: 600;
  font-family: "Open Sans";
  color: #9e9faa;
  display: inline-block;
  min-width: 63px;
}
.paragraphverticalborder-group,
.paragraphverticalborder11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.paragraphverticalborder11 {
  border-right: 1px solid #d9d9d9;
  flex-direction: column;
  padding: 0 22px 0.7px;
}
.paragraphverticalborder-group {
  flex-direction: row;
  gap: 10px;
}
.div8 {
  height: 25.5px;
  flex: 1;
  position: relative;
  line-height: 135%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 9px;
  flex-shrink: 0;
  debug_commit: 448091;
}
.wrapper5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 29px;
}
.countries6 {
  align-self: stretch;
  position: relative;
  font-size: 12px;
  line-height: 20.4px;
  font-weight: 600;
  font-family: "Open Sans";
  color: #9e9faa;
  display: inline-block;
  min-width: 67.1px;
  flex-shrink: 0;
  debug_commit: 448091;
}
.frame-parent8,
.frame-parent9 {
  width: 67.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent8 {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: 106px;
  left: 0;
  flex-direction: row;
  padding: 0 3px;
  box-sizing: border-box;
  gap: 31.5px;
  color: #080808;
}
.tag-icon10 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button12 {
  width: 171px;
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.tag-icon11 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button11,
.europe-plans-row1 {
  display: flex;
  flex-direction: row;
}
.button11 {
  margin: 0 !important;
  position: absolute;
  top: 164.9px;
  left: 19px;
  border-radius: 4px;
  background-color: #401717;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 73px;
  gap: 16px;
  color: #fff;
}
.europe-plans-row1 {
  height: 229px;
  width: 356px;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  box-sizing: border-box;
  position: relative;
  gap: 13px 10px;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  color: #000;
  font-family: "tt hoves";
}
@media screen and (max-width: 450px) {
  .frame-parent8 {
    gap: 16px;
  }
}
