.ausvg-icon4 {
  height: 44px;
  width: 44px;
  position: relative;
  border-radius: 999px;
  overflow: hidden;
  flex-shrink: 0;
}
.ausvg-container {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
}
.ausvg-container,
.div6,
.wrapper3 {
  display: flex;
  justify-content: center;
}
.div6 {
  width: 79.9px;
  position: relative;
  line-height: 25.5px;
  align-items: center;
  flex-shrink: 0;
  min-width: 79.9px;
}
.wrapper3 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 1px 0 0;
  font-family: "Open Sans";
}
.overall-esim-brand1,
.what-stands-out1 {
  margin: 0;
}
.what-stands-out-container1 {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  color: #2e254d;
}
.cite-alex4 {
  width: 130px;
  position: relative;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cite-alex-thompson-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: 18px;
  color: #080808;
}
.group-2-71 {
  position: absolute;
  top: 190px;
  left: 1109px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  background-color: #fff;
  width: 347px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 28px 27px 160.5px;
  box-sizing: border-box;
  gap: 24px;
  text-align: center;
  font-size: 13.2px;
  color: #fed12f;
  font-family: "tt hoves";
}
