.logo-child {
  height: 50px;
  width: 50px;
  position: relative;
  object-fit: cover;
}
.fusionwavesim1 {
  flex: 1;
  position: relative;
  line-height: 45px;
  white-space: nowrap;
}
.logo {
  width: 302px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
}
.esim-plans1,
.symbol1 {
  position: relative;
  display: inline-block;
}
.esim-plans1 {
  line-height: 22px;
  min-width: 80px;
  white-space: nowrap;
}
.symbol1 {
  font-size: 15px;
  line-height: 15px;
  font-family: Poppins;
  min-width: 12px;
}
.plans {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 8px;
  gap: 7.7px;
}
.item-link6 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 107px;
  white-space: nowrap;
}
.nav-links {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 8px;
}
.item-link7 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 51px;
  white-space: nowrap;
}
.nav-links1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 8px;
}
.item-link8 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 106px;
  white-space: nowrap;
}
.nav-links2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 8px;
}
.item-link9 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 33px;
}
.nav-links3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 8px;
}
.item-link10 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 83px;
  white-space: nowrap;
}
.nav-links4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 8px;
}
.item-link11 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 66px;
  white-space: nowrap;
}
.nav-links5,
.navigation {
  display: flex;
  flex-direction: row;
}
.nav-links5 {
  align-items: center;
  justify-content: center;
  padding: 10px 8px;
}
.navigation {
  width: 849.7px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  max-width: 100%;
  font-size: 16px;
}
.user-child,
.user-icon {
  height: 17.8px;
  width: 20px;
  position: relative;
}
.user-child {
  height: 29.3px;
  width: 29.8px;
}
.responsive-navbar1,
.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.responsive-navbar1 {
  align-self: stretch;
  background-color: #fff;
  justify-content: space-between;
  padding: 24px 120px;
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  gap: 20px;
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: 37.3px;
  color: #080808;
  font-family: "tt hoves";
}
@media screen and (max-width: 1325px) {
  .navigation {
    display: none;
  }
  .responsive-navbar1 {
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .responsive-navbar1 {
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .navigation {
    gap: 16px;
  }
}
