.checkout-details3 {
  width: 146px;
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.details-header,
.header3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.header3 {
  flex: 1;
  border-radius: 5px;
  background-color: #080808;
  overflow: hidden;
  padding: 16px 24px;
}
.details-header {
  align-self: stretch;
  padding: 0 0 4px;
  font-size: 18px;
  color: #fff;
}
.cart-subtotal1,
.total-separators {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 95px;
}
.total-separators {
  min-width: 63px;
  white-space: nowrap;
}
.total-items,
.total-items-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.total-items {
  flex: 1;
  justify-content: space-between;
  gap: 20px;
}
.total-items-wrapper {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 35px 0 25px;
  box-sizing: border-box;
}
.other-taxes1,
.shipping-handling1 {
  position: relative;
  line-height: 22px;
}
.other-taxes1 {
  display: inline-block;
  min-width: 85px;
}
.shipping-labels2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.div12,
.div13 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
  white-space: nowrap;
}
.shipping-labels3 {
  width: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.shipping-items,
.shipping-items-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.shipping-items {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.shipping-items-wrapper {
  justify-content: flex-start;
  padding: 0 31px 0 25px;
}
.shipping-items-wrapper,
.sidebar-divider,
.sidebar-divider-wrapper {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.sidebar-divider {
  flex: 1;
  position: relative;
  border-top: 1px solid #a7a7a7;
}
.sidebar-divider-wrapper {
  height: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 3px;
}
.div14,
.grand-total1 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 82px;
}
.div14 {
  width: 63px;
  text-align: right;
  min-width: 63px;
  white-space: nowrap;
}
.checkout-details-inner,
.checkout-details2,
.grand-total-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.grand-total-group {
  flex: 1;
  justify-content: space-between;
  gap: 20px;
}
.checkout-details-inner,
.checkout-details2 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 25px;
  box-sizing: border-box;
}
.checkout-details2 {
  border-radius: 5px;
  background-color: #f4f1ff;
  flex-direction: column;
  padding: 0 0 32px;
  gap: 32px;
  font-size: 16px;
  color: #080808;
}
.transfer-options1 {
  width: 141px;
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.header4 {
  align-self: stretch;
  border-radius: 5px;
  background-color: #080808;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 24px;
}
.image-1-icon2 {
  position: absolute;
  top: 6px;
  left: 7px;
  width: 38px;
  height: 23px;
  object-fit: contain;
}
.logo-block {
  width: 51px;
  height: 35px;
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
}
.bank,
.transfer {
  margin: 0;
}
.bank-transfer {
  position: relative;
  line-height: 22px;
}
.block-13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
}
.image-2-icon {
  position: absolute;
  top: 10px;
  left: 9px;
  width: 34px;
  height: 16px;
  object-fit: contain;
}
.logo-block1 {
  width: 51px;
  height: 35px;
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
}
.google,
.pay {
  margin: 0;
}
.google-pay {
  position: relative;
  line-height: 22px;
}
.block-25 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
}
.image-3-icon {
  position: absolute;
  top: calc(50% - 6.5px);
  left: calc(50% - 15.5px);
  width: 32px;
  height: 13px;
  object-fit: contain;
}
.logo-block2 {
  align-self: stretch;
  height: 35px;
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
}
.apple,
.pay1 {
  margin: 0;
}
.apple-pay {
  position: relative;
  line-height: 22px;
}
.block-3 {
  width: 51px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
}
.image-4-icon {
  position: absolute;
  top: 8px;
  left: 6px;
  width: 40px;
  height: 20px;
  object-fit: contain;
}
.logo-block3 {
  width: 51px;
  height: 35px;
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
}
.paypal {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.block-4,
.logos-block {
  width: 53px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
}
.logos-block {
  width: 394px;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.checkout-details4 {
  border-radius: 5px;
  background-color: #f4f1ff;
  padding: 36px 24px;
  box-sizing: border-box;
  font-size: 16px;
  color: #545454;
  font-family: Inter;
}
.checkout-details4,
.transfer-options {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.checkout3 {
  width: 83px;
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.header5 {
  align-self: stretch;
  border-radius: 5px;
  background-color: #080808;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 24px;
}
.your-personal-data {
  align-self: stretch;
  position: relative;
  line-height: 135%;
}
.button17 {
  align-self: stretch;
  height: 54px;
}
.checkout-details5 {
  align-self: stretch;
  border-radius: 5px;
  background-color: #f4f1ff;
  padding: 36px 24px;
  gap: 36px;
  font-size: 16px;
  color: #080808;
}
.checkout-details5,
.checkout2,
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.checkout2 {
  align-self: stretch;
}
.sidebar {
  width: 504px;
  gap: 47px;
  min-width: 504px;
  max-width: 100%;
  text-align: left;
  font-size: 18px;
  color: #fff;
  font-family: "tt hoves";
}
@media screen and (max-width: 1275px) {
  .sidebar {
    flex: 1;
  }
}
@media screen and (max-width: 750px) {
  .checkout-details2 {
    gap: 16px;
  }
  .checkout-details5 {
    gap: 18px;
  }
  .sidebar {
    gap: 23px;
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .grand-total-group,
  .logos-block,
  .shipping-items,
  .total-items {
    flex-wrap: wrap;
  }
  .checkout-details4 {
    gap: 18px;
  }
  .button17 {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}
