.link-dictionary {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 88px;
}
.link-data,
.link-esim,
.link-international,
.link-mobile,
.link-mobile1 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.footer-nav-column-one,
.footer-nav-column-two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-nav-column-two {
  align-self: stretch;
  gap: 14px;
  font-size: 16px;
}
.footer-nav-column-one {
  width: 200px;
  gap: 16px;
}
.link-help {
  width: 103px;
  position: relative;
  line-height: 22px;
  display: flex;
  align-items: center;
}
.link-esim1,
.link-manage,
.link-mobile2,
.link-popular,
.link-troubleshooting {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.footer-nav-column-one1,
.link-esim-dictionary-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.link-esim-dictionary-parent {
  align-self: stretch;
  font-size: 16px;
}
.footer-nav-column-one1 {
  width: 200px;
}
.link-installation {
  width: 158px;
  position: relative;
  line-height: 22px;
  display: flex;
  align-items: center;
}
.link-esim2,
.link-setup {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.link-setup {
  height: 44px;
  line-height: 135%;
  display: flex;
  align-items: center;
}
.link-setup1,
.link-setup2 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.guides,
.guides-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.guides-list {
  align-self: stretch;
  font-size: 16px;
}
.guides {
  width: 200px;
}
.link-articles {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 66px;
}
.selecting-the-ideal,
.travel {
  margin: 0;
}
.selecting-the-ideal-container {
  position: relative;
  line-height: 135%;
}
.adventure,
.destinations-2023-for,
.discover-the-ultimate {
  margin: 0;
}
.discover-the-ultimate-container {
  position: relative;
  line-height: 135%;
}
.articles-list {
  font-size: 16px;
}
.articles,
.articles-list,
.footer-navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.footer-navigation {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.brand-info-child {
  height: 50px;
  width: 50px;
  position: relative;
  object-fit: cover;
}
.fusionwavesim1 {
  flex: 1;
  position: relative;
  line-height: 45px;
}
.brand-info {
  width: 302px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
}
.symbol1,
.symbol2 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 30px;
  font-weight: 400;
  font-family: inherit;
}
.social {
  width: 74.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
}
.link-terms {
  align-self: stretch;
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-family: "tt hoves";
  text-align: left;
}
.legal {
  width: 235px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  text-align: center;
  font-size: 30px;
  font-family: "Font Awesome 5 Brands";
}
.link-get {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 94px;
}
.infofusionwavesimapp {
  position: relative;
  font-size: 12px;
  line-height: 100%;
  white-space: nowrap;
}
.brand,
.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
  font-size: 16px;
}
.brand {
  width: 1206px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  max-width: 100%;
  font-size: 37.3px;
}
.footer,
.footer-links {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.footer-links {
  width: 1680px;
  height: 335px;
  align-items: flex-start;
  justify-content: space-between;
}
.footer {
  align-self: stretch;
  background-color: #080808;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;
  box-sizing: border-box;
  text-align: left;
  font-size: 18px;
  color: #fff;
  font-family: "tt hoves";
}
@media screen and (max-width: 1100px) {
  .footer-navigation {
    flex-wrap: wrap;
  }
  .footer-links {
    height: auto;
  }
}
@media screen and (max-width: 750px) {
  .fusionwavesim1 {
    font-size: 30px;
    line-height: 36px;
  }
  .symbol1,
  .symbol2 {
    font-size: 24px;
    line-height: 24px;
  }
  .brand {
    flex-wrap: wrap;
  }
  .footer {
    padding-top: 52px;
    padding-bottom: 52px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .fusionwavesim1 {
    font-size: 22px;
    line-height: 27px;
  }
  .symbol1,
  .symbol2 {
    font-size: 18px;
    line-height: 18px;
  }
}
