.link-icon2 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 10px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.destinations-for-your,
.holiday-white {
  margin: 0;
}
.heading-2-container1 {
  width: 100%;
}
.heading-2-container {
  width: 279px;
  height: 66px;
  position: relative;
  line-height: 120%;
  display: flex;
  align-items: center;
}
.winter-is-coming {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  color: #080808;
}
.frame-child2 {
  width: 132px;
  height: 46px;
}
.link-container {
  height: 526.7px;
  width: 306.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0.1px;
  box-sizing: border-box;
  gap: 14px;
  text-align: left;
  font-size: 18px;
  color: #000;
  font-family: "tt hoves";
}
